<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
    <link rel="stylesheet" href="/static/css/adminmenu.css">
</head>

<body>
    {% include 'navbar.html' %}
    {% include 'cursor.html' %}
    <div class="menu-body">
        <div class="form-container">
            
            <h1>Add Menu</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="productName">Savory Delight :</label>
                    <input type="text" id="productName" name="productName" required>
                </div>
                <div class="form-group">
                    <label for="price">Price : </label>
                    <input type="number" id="price" name="price" required>
                </div>
                <div class="form-group">
                    <label for="description">Description : </label>
                    <textarea id="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Choose Image: </label>
                    <input type="file" id="image" name="image" required>
                </div>
                <div class="form-group">
                    <label for="type1">Main Category:</label>
                    <select id="type1" name="category" onchange="showtype2()" required>
                        <option value="option0" disabled selected>Select a Category</option>
                        <option value="beverages">Beverages</option>
                        <option value="desserts">Desserts</option>
                        <option value="snacks">Snacks</option>
                        <option value="cakes">Cakes</option>
                    </select>
                </div>
                <div class="form-group">
                    <label id="label2" style="display: none;" id="type2">Sub-Category:</label>
                    <select id="type2" style="display: none;" name="subcategory" required>
                        <option value="option0" disabled selected>Select a Sub-Category</option>
                        <option value="hotcoffee" style="display: none;" name="bev">Hot Coffee</option>
                        <option value="coldcoffee" style="display: none;" name="bev">Cold Coffee</option>
                        <option value="mocktails" style="display: none;" name="bev">Mocktails</option>
                        <option value="macaroons" style="display: none;" name="des">Macaroons</option>
                        <option value="pudding" style="display: none;" name="des">Pudding</option>
                        <option value="waffles" style="display: none;" name="des">Waffles</option>
                        <option value="cakes" style="display: none;" name="cakes">Cakes</option>
                        <option value="pastries" style="display: none;" name="cakes">Pastries</option>
                        <option value="snacks" style="display: none;" name="snacks">Snacks</option>
                    </select>
                </div>
                <button class="btn">Modify Menu</button>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        const type2 = document.getElementById("type2");
        const label2 = document.getElementById("label2");
        function showtype2() {
            label2.style.display = "block";
            type2.style.display = "block";
            let value = document.getElementById("type1").value;
            if (value == "beverages") {
                let bev = document.getElementsByName("bev");
                for (let i = 0; i < bev.length; i++) {
                    bev[i].style.display = "block";
                }
                let des = document.getElementsByName("des");
                for (let i = 0; i < des.length; i++) {
                    des[i].style.display = "none";
                }
                let snacks = document.getElementsByName("snacks");
                for (let i = 0; i < snacks.length; i++) {
                    snacks[i].style.display = "none";
                }
                let cakes = document.getElementsByName("cakes");
                for (let i = 0; i < cakes.length; i++) {
                    cakes[i].style.display = "none";
                }
            } else if (value == "desserts") {
                let des = document.getElementsByName("des");
                for (let i = 0; i < des.length; i++) {
                    des[i].style.display = "block";
                }
                let bev = document.getElementsByName("bev");
                for (let i = 0; i < bev.length; i++) {
                    bev[i].style.display = "none";
                }
                let snacks = document.getElementsByName("snacks");
                for (let i = 0; i < snacks.length; i++) {
                    snacks[i].style.display = "none";
                }
                let cakes = document.getElementsByName("cakes");
                for (let i = 0; i < cakes.length; i++) {
                    cakes[i].style.display = "none";
                }
            } else if (value == "snacks") {
                let snacks = document.getElementsByName("snacks");
                for (let i = 0; i < snacks.length; i++) {
                    snacks[i].style.display = "block";
                }
                let bev = document.getElementsByName("bev");
                for (let i = 0; i < bev.length; i++) {
                    bev[i].style.display = "none";
                }
                let des = document.getElementsByName("des");
                for (let i = 0; i < des.length; i++) {
                    des[i].style.display = "none";
                }
                let cakes = document.getElementsByName("cakes");
                for (let i = 0; i < cakes.length; i++) {
                    cakes[i].style.display = "none";
                }
            } else if (value == "cakes") {
                let cakes = document.getElementsByName("cakes");
                for (let i = 0; i < cakes.length; i++) {
                    cakes[i].style.display = "block";
                }
                let bev = document.getElementsByName("bev");
                for (let i = 0; i < bev.length; i++) {
                    bev[i].style.display = "none";
                }
                let des = document.getElementsByName("des");
                for (let i = 0; i < des.length; i++) {
                    des[i].style.display = "none";
                }
                let snacks = document.getElementsByName("snacks");
                for (let i = 0; i < snacks.length; i++) {
                    snacks[i].style.display = "none";
                }
            }
            // Change the value of sub-category to the first option
            type2.value = type2.options[0].value;
        }
    </script>

    {% include 'footer.html' %}
</body>

</html>