<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beverages</title>
    <link rel="stylesheet" href="/static/css/menuitems.css">
</head>

<body>
    {% include "navbar.html" %}
    {% include "cursor.html" %}

    <div class="navbody" id="beverages-bgimg">
        <nav class="navbar-2">
            <div class="nav-left">
                <div class="dropdown">
                <span>Beverages</span>
                 <div class="dropdown-content">
                        <a href="#hot-coffee">Hot Coffee</a>
                        <a href="#cold-coffee">Cold Coffee</a>
                        <a href="#moctails">Mocktails</a>
                    </div>
                    </div>
            </div>
            <div class="nav-center">
                <div class="dropdown">
                    <a href="/desserts">Desserts</a>
                   
                </div>
                <div class="dropdown">
                    <a href="/snacks">Snacks</a>
                    <!-- <div class="dropdown-content">
                        <a href="#">Cold Mocha</a>
                        <a href="#">Crunchy Frappé</a>
                    </div> -->
                </div>
                <div class="dropdown">
                    <a href="/cakes">Cakes</a>
                    <!-- <div class="dropdown-content">
                        <a href="#">Blue Lagoon Mocktail</a>
                        <a href="#">Watermelon Mojito</a>
                    </div> -->
                </div>
            </div>
            <div class="nav-right">
                <a href="/">Home</a>
            </div>
        </nav>
    </div>

    <div class="container-all">
        <h2 id="hot-coffee">Hot Coffee</h2>
        <div class="card-container">
            <article class="card-article">
                <img src="/static/imgs/capuccinio.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-description">Made with Something good</span>
                    <h2 class="card-title">Cappuccino</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/espresso with raspberry.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-description">Made with Something good</span>
                    <h2 class="card-title">Espresso</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/cafe latte.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-description">Made with Something good</span>
                    <h2 class="card-title">Café Latte</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
        </div>

        <div class="container-all">
            <h2 id="cold-coffee">Cold Coffee</h2>
            <div class="card-container">
                <article class="card-article">
                    <img src="/static/imgs/cold mocha.jpg" alt="" class="card-img">

                    <div class="card-data">
                        <span class="card-description">Made with Something good</span>
                        <h2 class="card-title">Cold Mocha</h2>
                        <button class="card-button">Add to Cart</button>
                    </div>
                </article>
                <article class="card-article">
                    <img src="/static/imgs/crunchy frappe.jpg" alt="" class="card-img">

                    <div class="card-data">
                        <span class="card-description">Made with Something good</span>
                        <h2 class="card-title">Crunchy Frappé</h2>
                        <button class="card-button">Add to Cart</button>
                    </div>
                </article>
            </div>
        </div>
        <div class="container-all">
            <h2 id="moctails">Mocktails</h2>
            <div class="card-container">

                <article class="card-article">
                    <img src="/static/imgs/blue lagoon.jpg" alt="" class="card-img">

                    <div class="card-data">
                        <span class="card-description">Made with Something good</span>
                        <h2 class="card-title">Blue Lagoon Mocktail</h2>
                        <button class="card-button">Add to Cart</button>
                    </div>
                </article>
                <article class="card-article">
                    <img src="/static/imgs/watermelon mojito.jpeg" alt="" class="card-img">

                    <div class="card-data">
                        <span class="card-description">Made with Something good</span>
                        <h2 class="card-title">Watermelon Mojito</h2>
                        <button class="card-button">Add to Cart</button>
                    </div>
                </article>
            </div>
        </div>
<a href="#beverages-bgimg" class="back-to-top"><i class="fa-solid fa-angle-up" style="color: #ffffff;"></i></a>

        <script src="/static/main.js"></script>
        {% include "footer.html" %}
</body>

</html>