<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cakes</title>
    <link rel="stylesheet" href="/static/css/menuitems.css">
</head>

<body>
    {% include "navbar.html" %}
    {% include "cursor.html" %}
    <div class="navbody" id="cakes-bgimg">
        <nav class="navbar-2">
            <div class="nav-left">
                <span>Cakes</span>
            </div>
            <div class="nav-center">
                <div class="dropdown">
                    <a href="#cakes">Cakes</a>
                    <div class="dropdown-content">
                        <a href="#macroons-1">Fruits with Vanilla cake</a>
                        <a href="#">Blueberry hazelnut cake</a>
                        <a href="#">Chocochips cake</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#pastries">Pastries</a>
                    <div class="dropdown-content">
                        <a href="#chocopastry">Death by chocolate pastry</a>
                        <a href="#chocochips">Coffee</a>
                        <a href="#redvelvet">Red Velvet</a>
                    </div>
                </div>
            </div>
            <div class="nav-right">
                <a href="/">Home</a>
            </div>
        </nav>
    </div>
    <div class="container-all">
        <h2 id="cakes">Cakes</h2>
        <div class="card-container">
            {% for i in cakes %}
            <article id="cakes" class="card-article">
                <img src="/static/imgs/{{i.image}}" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">{{i.description}}</span>
                    <h2 class="card-title">{{i.productName}}</h2>
                    <button class="card-button">Add to Cart</button>


                </div>
            </article>
            {% endfor %}

            <article class="card-article">
                <img src="/static/imgs/fruits w vanilla cake.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Fruits with Vanilla</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/blueberry hazelnut cake.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Blueberry Hazelnut</h2>
                    <button class="card-button">Add to Cart</button>
                    <div class="delete-button">
                        <i class="fa-solid fa-minus"></i>
                        <span class="delete-text">Delete this item</span>
                    </div>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/death by chocolate pastry.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Death by chocolate</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>

        </div>
    </div>

    <div class="container-all">
        <h2 id="pastries">Pastries</h2>
        <div class="card-container">

            <article class="card-article">
                <img src="/static/imgs/chocochips cake.jpg" alt="" class="card-img" id="chocochips">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Chocochips</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/coffee pastry.jpg" alt="" class="card-img" id="chocopastry">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Coffee</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/redvelvet.jpg" alt="" class="card-img" id="redvelvet">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Red Velvet</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>

        </div>
    </div>


    {% include "footer.html" %}

</body>

</html>