<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cakes</title>
    <link rel="stylesheet" href="/static/css/menuitems.css">
</head>

<body>
    {% include "navbar.html" %}
    {% include "cursor.html" %}
    <div class="navbody" id="cakes-bgimg">
        <nav class="navbar-2">
            <div class="nav-left">
                <span>Cakes</span>
            </div>
            <div class="nav-center">
                <div class="dropdown">
                    <a href="#cakes">Cakes</a>
                    <div class="dropdown-content">
                        <a href="#macroons-1">Fruits with Vanilla cake</a>
                        <a href="#">Blueberry hazelnut cake</a>
                        <a href="#">Choco cream with chocochips cake</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#pastries">Pastries</a>
                    <div class="dropdown-content">
                        <a href="#">Death by chocolate pastry</a>
                        <a href="#vanilla_scoop_waffle">More items coming soon</a>
                    </div>
                </div>
            </div>
            <div class="nav-right">
                <a href="/">Home</a>
            </div>
        </nav>
    </div>
    <div class="container-all">
        <h2 >This is our special menu items Of  Cake</h2>
        <div class="card-container">
            <article id="cakes"  class="card-article">
                <img src="/static/imgs/macroons-1.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Macaroons</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/mango_pudding.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Mango Pudding</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/hotcake_truffle.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Hot Cake Truffle</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>

        </div>
    </div>

    <div class="container-all">
        <h2 id="pastries">This is our special menu items of Pastries</h2>
        <div class="card-container">

            <article class="card-article">
                <img src="/static/imgs/vanilla_scoop_waffle.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Vanilla Scoop Waffle</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/chocolate_cake_donuts.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Chocolate Cake Donuts</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/cottage_cheese_fry.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Cottage Cheese Fry</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>

        </div>
    </div>


    {% include "footer.html" %}

</body>

</html>