<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="/static/css/cart.css"> <!-- Link to your CSS file -->
</head>

<body>
    {% include "navbar.html" %}
    {% include "cursor.html" %}
    <h1>Checkout</h1>
    
    {% if data %}
    <table>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Remove?</th>
        </tr>

        {% for item in data %}  

        <tr>
            <td>{{ item.productName }}</td>
            <td>{{ item.quantity }}</td>
            <td><img src="/{{ item.image }}"></img></td>
            <td>{{ item.description }}</td>
            <td>{{ item.price }}</td>
            <td><button onclick="deleteItem('{{ item.id }}')">Yes!</button></td>
        </tr>
        {% endfor %}
    </table>
    <h2>Total: {{ total }}</h2>
    <form action="/checkout" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="address" placeholder="Address" required>
        <input type="text" name="phone" placeholder="Phone" required>
        <input type="submit" value="Place Order">
    </form>
    {% else %}
    <h2>No items</h2>
    {% endif %}

    <script>
        function deleteItem(id) {
            window.location.href = "/del?id=" + id + "&path={{ request.path }}";
        }
    </script>

    {% include "footer.html" %}
</body>

</html>