<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="/static/css/cart.css"> <!-- Link to your CSS file -->
</head>

<body>
    {% include "navbar.html" %}
    {% include "cursor.html" %}

    {% if data %}
    <!-- <h1>Checkout</h1> -->
    <div class="cart-body">
        <main class="table">
            <section class="table-header">
                <h1>Flavorful Farewell: Finalize Your Order!</h1>
            </section>
            <section class="table-body">
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Remove?</th>
                        </tr>
                    </thead>
                    {% for item in data %}

                    <tr>
                        <td class="pname productname">{{ item.productName }}</td>
                        <td>{{ item.price }}</td>

                        <td><img src="/{{ item.image }}"></img></td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.quantity }}</td>

                        <td><button onclick="deleteItem('{{ item.id }}')" class="cart-button">Remove</button>
                            <form method="POST" action="/cart/">
                                {% csrf_token %}
                                <input type="hidden" name="cart_id" value="{{ item.id }}">
                                <input type="hidden" name="incart" value="yes">
                                <button class="cart-button" type="submit" name="cart">Add More</button>
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                </table>
                <section class="table-header table-body total"><h2>Total: {{ total }}</h2>
                    <a href="/checkout" class="cart-button">Checkout</a>
    </section>
            </section>
        </main>
</div>
        <!-- <form action="/checkout" method="POST" class="cart-form">
            {% csrf_token %}
            <h2>Flavorful Farewell: Finalize Your Order!</h2>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="address" placeholder="Address" required class="address-cart">
            <input type="text" name="phone" placeholder="Phone" required>
            <input type="submit" value="Place Order">
        </form> -->

    {% else %}
    <center>
        <h2 style="color: white;">Cart Hungry for Your Picks!</h2>
    </center>
    {% endif %}

    <script>
        function deleteItem(id) {
            window.location.href = "/del?id=" + id + "&path={{ request.path }}";
        }
    </script>

    {% include "footer.html" %}
</body>

</html>