<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desserts</title>
    <link rel="stylesheet" href="/static/css/menuitems.css">
</head>

<body>
    {% include "navbar.html" %}
    {% include "cursor.html" %}
    <div class="navbody" id="deserts-bgimg">
        <nav class="navbar-2">
            <div class="nav-left">
                <div class="dropdown">
                    <span>Desserts</span>
                    <div class="dropdown-content">
                        <a href="#pudding">Pudding</a>
                        <a href="#macaroons">Macaroon</a>
                        <a href="#waffles">Waffle</a>
                        <!-- <a href="#">Cherry</a> -->
                    </div>
                </div>
            </div>
            <div class="nav-center">
                <a href="/beverages">Beverages</a>

                <a href="/cakes">Cakes</a>
                <a href="/snacks">Snacks</a>
                <!-- <div class="dropdown-content">
                        <a href="#">Vanila Scoop Waffle</a>
                        <a href="#">Choco Scoop Waffle </a>
                        <a href="#">Caramel Scoop Waffle</a>
                        <a href="#">Strawberry Scoop Waffle</a>
                    </div> -->
            </div>

            <div class="nav-right">
                <a href="/">Home</a>
            </div>
        </nav>
    </div>

    <div class="container-all">
        <h2 id="pudding">Pudding</h2>
        <div class="card-container">

            {% for i in pudding %}
            <article class="card-article">
                <img src="/{{i.image}}" alt="" class="card-img">
                <div class="card-data">
                    <span class="card-description">{{i.description}}</span>
                    <h2 class="card-title">{{i.productName}}</h2>
                    <span class="card-description ">₹{{i.price}}</span>
                    <div class="delete-button">
                        <form method="POST" action="/cart/">
                            {% csrf_token %}
                            <input type="hidden" name="cart_id" value="{{ i.id }}">
                            <button class="card-button" type="submit" name="cart">Add to Cart</button>
                        </form>                        {% if request.session.user == 'admin' %}
                        <button class="card-button" onclick="deleteItem('{{ i.id }}', '{{ request.path }}')">
                            Delete this item
                        </button>
                        {% endif %}
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>

    <a href="#cakes-bgimg" class="back-to-top1">
        <i class="fa-solid fa-angle-up" style="color: #ffffff;"></i>
    </a>

    <div class="container-all">
        <h2 id="macaroons">Macaroons</h2>
        <div class="card-container">
            {% for i in macaroons %}
            <article class="card-article">
                <img src="/{{i.image}}" alt="" class="card-img">
                <div class="card-data">
                    <span class="card-description">{{i.description}}</span>
                    <h2 class="card-title">{{i.productName}}</h2>
                    <span class="card-description ">₹{{i.price}}</span>
                    <div class="delete-button">
                        <form method="POST" action="/cart/">
                            {% csrf_token %}
                            <input type="hidden" name="cart_id" value="{{ i.id }}">
                            <button class="card-button" type="submit" name="cart">Add to Cart</button>
                        </form>                        {% if request.session.user == 'admin' %}
                        <button class="card-button" onclick="deleteItem('{{ i.id }}', '{{ request.path }}')">
                            Delete this item
                        </button>
                        {% endif %}
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>


    <a href="#cakes-bgimg" class="back-to-top2">
        <i class="fa-solid fa-angle-up" style="color: #ffffff;"></i>
    </a>

    <div class="container-all">
        <h2 id="waffles">Waffles</h2>
        <div class="card-container">
            {% for i in waffles %}
            <article class="card-article">
                <img src="/{{i.image}}" alt="" class="card-img">
                <div class="card-data">
                    <span class="card-description">{{i.description}}</span>
                    <h2 class="card-title">{{i.productName}}</h2>
                    <span class="card-description ">₹{{i.price}}</span>
                    <div class="delete-button">
                        <form method="POST" action="/cart/">
                            {% csrf_token %}
                            <input type="hidden" name="cart_id" value="{{ i.id }}">
                            <button class="card-button" type="submit" name="cart">Add to Cart</button>
                        </form> 
                        <!-- only admin can see -->
                        {% if request.session.user == 'admin' %}
                        <button class="card-button" onclick="deleteItem('{{ i.id }}', '{{ request.path }}')">
                            Delete this item
                        </button>
                        {% endif %}
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>

    <a href="#cakes-bgimg" class="back-to-top3">
        <i class="fa-solid fa-angle-up" style="color: #ffffff;"></i>
    </a>

    <script>
        function deleteItem(id, path) {
            var r = confirm("Are you sure you want to delete this item?");
            if (r == true) {
                window.location.href = "/del?id=" + id + "&path=" + path;
            }
        }
    </script>

    {% include "footer.html" %}

</body>

</html>