<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desserts</title>
    <link rel="stylesheet" href="/static/css/menuitems.css">
</head>

<body>
    {% include "navbar.html" %}
    {% include "cursor.html" %}
    <div class="navbody" id="deserts-bgimg">
        <nav class="navbar-2">
            <div class="nav-left">
                <div class="dropdown">
                    <span>Desserts</span>
                    <div class="dropdown-content">
                        <a href="#">Choco Pudding</a>
                        <a href="#">Macaroon</a>
                        <a href="#">Waffle</a>
                        <!-- <a href="#">Cherry</a> -->
                    </div>
                </div>
            </div>
            <div class="nav-center">
                <a href="/beverages">Beverages</a>

                <a href="/cakes">Cakes</a>
                <a href="/snacks">Snacks</a>
                <!-- <div class="dropdown-content">
                        <a href="#">Vanila Scoop Waffle</a>
                        <a href="#">Choco Scoop Waffle </a>
                        <a href="#">Caramel Scoop Waffle</a>
                        <a href="#">Strawberry Scoop Waffle</a>
                    </div> -->
            </div>

    <div class="nav-right">
        <a href="/">Home</a>
    </div>
    </nav>
    </div>

    <div class="container-all">
        <h2 id="chocopudding">Choco Pudding</h2>
        <div class="card-container">
            <article id="cakes" class="card-article">
                <img src="/static/imgs/chocopudding.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Choco Pudding</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>

        </div>
    </div>

    <a href="#cakes-bgimg" class="back-to-top1">
        <i class="fa-solid fa-angle-up" style="color: #ffffff;"></i>
    </a>

    <div class="container-all">
        <h2 id="macaroons">Macaroons</h2>
        <div class="card-container">

            <article class="card-article">
                <img src="/static/imgs/classic macaroons.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Classic</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/mint macaroons.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Mint</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/chocomacaroons.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Chocolate</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/cherry macaroons.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Cherry</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
        </div>
    </div>


    <a href="#cakes-bgimg" class="back-to-top2">
        <i class="fa-solid fa-angle-up" style="color: #ffffff;"></i>
    </a>


    <div class="container-all">
        <h2 id="waffles">Waffles</h2>
        <div class="card-container">
            <article class="card-article">
                <img src="/static/imgs/vanilla waffle.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Vanilla Scoop</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/choco waffle.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Chocolate Scoop</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/caramel waffle.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Caramel Scoop</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/strawberry waffle.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Strawberry Scoop</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
        </div>
    </div>

    <a href="#cakes-bgimg" class="back-to-top3">
        <i class="fa-solid fa-angle-up" style="color: #ffffff;"></i>
    </a>

    {% include "footer.html" %}

</body>

</html>