
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Munch Mosaic</title>
    <link rel="stylesheet" href="Icons by https://unicornicons.com">
</head>

<body>

    <div class="cursor rounded"></div>
    <div class="cursor pointed"></div>
    <div class="imbanner">
        {% include "navbar.html" %}

        <div class="box">
            <h1>Indulge in a Symphony of Flavors at Munch Mosaic</h1>
            <h3>Welcome to a Culinary Wonderland!</h3>

        </div>
    </div>

    <div class="banner">
        <div class="text-box">
            <h2>Our Story</h2>
            <h1>Few words about us</h1>

            <p>From the first light of dawn to the quiet of twilight, Munch Mosaic is here to accompany you through your
                day. Start
                your
                morning with a freshly brewed cup of our signature coffee, indulge in a leisurely brunch, savor a hearty
                meal, or
                treat
                yourself to a decadent dessert - every moment is an opportunity to savor life's pleasures.</p>
        </div>
        <div class="image-box">
            <img src="/static/imgs/bgimg2.jpg" alt="Image 1" class="image-1">
            <img src="/static/imgs/divisions1.jpg" alt="Image 2" class="image-2">
        </div>
    </div>

    <div class="cover">
        <h2>Special menu offers:</h2>
        <h1>Our Specialities</h1>


        <div class="review-container">
            <div class="review-card">
                <div class="card-front">
                    <img src="/static/imgs/menu-2.jpg" alt="Person 1">

                </div>
                <div class="card-back">
                    <h4>Rating: 5/5</h4>
                    <ul class="icons-home">
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    </ul>
                    <h3>Espresso with Raspberry</h3>
                    <p>This espresso is a brewing coffee in which hot water is forced through finely ground coffee beans
                        under high pressure.
                        The resulting coffee is characterized by its strong, bold flavor and intense aroma served with
                        the additional taste of
                        fine raspberries at our cafe.</p>
                </div>
            </div>

            <div class="review-card">
                <div class="card-front">
                    <img src="/static/imgs/reuben1.jpg" alt="Person 2">

                </div>
                <div class="card-back">
                    <h4>Rating: 4/5</h4>
                    <ul class="icons-home">
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-regular fa-star" style="color: #F1F1F1;"></i></li>
                    </ul>
                    <h3>Reuben</h3>
                    <p>This sandwich is a North American grilled sandwich composed of veggies, swiss cheese, and
                        thousand island dressing
                        grilled between slices of rye bread.</p>
                </div>
            </div>

            <div class="review-card">
                <div class="card-front">
                    <img src="/static/imgs/chocopudding.jpg" alt="Person 3">
                </div>
                <div class="card-back">
                    <p>Rating: 4.5/5</p>
                    <ul class="icons-home">
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                        <li><i class="fa-solid fa-star-half-stroke" style="color: #F1F1F1;"></i></li>
                    </ul>
                    <h3>Choco Pudding</h3>
                    <p>Chocolate puddings are a class of desserts in the pudding family with chocolate flavors. 
                        Our chocolate puddings are usually made with milk and sugar, flavored with chocolate and vanilla
                        and thickened with a starch such as flour or cornstarch to give it a strong beautiful aroma and taste.</p>
                </div>
            </div>
        </div>
    </div>




    <div class="review-body">


        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imgs/person6.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div.class="card-content">
                            <h2 class="name">Sarah Johns</h2>
                            <p class="description">"The breakfast panini and coffee here are excellent! Fast and
                                friendly service too.
                                This has become my go-to spot before work."</p>

                            <button class="button">View More</button>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imgs/person2.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div.class="card-content">
                            <h2 class="name">Caleb Gonzales</h2>
                            <p class="description">"I love the cozy ambiance of this cafe.
                                The sandwiches are always fresh and the combination of chocolate pudding espresso are
                                always a hit."</p>

                            <button class="button">View More</button>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imgs/person8.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div.class="card-content">
                            <h2 class="name">Elizabeth Young</h2>
                            <p class="description">"Hands down the best vanilla scoop waffle I've found in this
                                neighborhood!
                                It was a bit moist but perfectly sweet. Will be coming back to try other goods."</p>

                            <button class="button">View More</button>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imgs/person1.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div.class="card-content">
                            <h2 class="name">David Fischer</h2>
                            <p class="description">"Stopped by for lunch and ordered a salad which was decent but
                                overpriced.
                                But must say, the cafe is underrated and a visit here should be must"</p>

                            <button class="button">View More</button>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imgs/person7.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div.class="card-content">
                            <h2 class="name">Sierra Reed</h2>
                            <p class="description">"Delicious crepes and waffles! Lots of options both savory and sweet.
                                Staff was friendly and accommodating of my food allergies."</p>

                            <button class="button">View More</button>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imgs/person9.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div.class="card-content">
                            <h2 class="name">Christopher Martinez</h2>
                            <p class="description">"Will go again. I only popped in to get take-away cappuccinos, but I
                                was struck by how friendly the service was.
                                The cappuccinos were wonderful too!"</p>

                            <button class="button">View More</button>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imgs/person4.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div.class="card-content">
                            <h2 class="name">Stephanie Thomas</h2>
                            <p class="description">"I would probably say that this coffee shop is a must for coffee
                                lovers!
                                The service was good, and the variety of coffee served was very satisfying."</p>

                            <button class="button">View More</button>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
    <script src="/static/main.js"></script>
    <!-- <div class="cursor-dot" data-cursor-dot></div>
        <div class="cursor-outline" data-cursor-outline></div> -->

    {% include "footer.html" %}
</body>

</html>