<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>

<body>

    <div class="navbar">
        <div class="logo">

            <img src="/static/imgs/final logo.jpg" alt="can't load?">

        </div>
        <ul class="menu">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/beverages">
                <li>Menu</li>
            </a>    

            <a href="/cart">
                <li>Your Cart</li>
            </a>
            {% if request.session.user == "admin" %}        
            <a href="/adminmenu">
                <li>Admin Menu</li>
            </a>
            {% endif %}
        </ul>
        {% if request.session.user %}
        <a href="/logout"><button class="login-button">Logout</button></a>
        {% else %}
        <a href="/login"><button class="login-button">Login</button></a>
        {% endif %}
        <!-- <a href="/login"><button class="login-button">Login</button></a> -->
    </div>

</body>

</html>