<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Register</title>
</head>

<body>
    {% include "cursor.html" %}
    <div class="center">
        <div class="login-container">
            <form class="form" action="">
                <p class="title">Munch Mosaic</p>
                <p class="title-2">Register</p>
                <input placeholder="Username" class="username input" type="text">
                <input placeholder="Email" class="email input" type="text">
                <input placeholder="Password" class="password input" type="password">
                <button class="btn" type="submit">Register</button>
                <p class="title-3">Already have an account? <a href="/login">Login</a></p>
            </form>
        </div>
    </div>
</body>

</html>