<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Register</title>
</head>

<body>
    <script src="https://kit.fontawesome.com/1144a62fa6.js" crossorigin="anonymous"></script>

    {% include "cursor.html" %}
    <div class="center">
        <div class="login-container">
            <form class="form" method="post" enctype="multipart/form-data">
                {% if msg %}
                <p class="msg">{{ msg }}</p>
                {% endif %}
                {% csrf_token %}
                <p class="title">Munch Mosaic</p>
                <p class="title-2">Register</p>
                <input placeholder="Username" class="username input" type="text" name="name" required>
                <input placeholder="Email" class="email input" type="text" name="email" required>
                <div class="eye">
                    <input placeholder="Password" class="password input" type="password" name="password" id="password" required>
                    <i class="fa-solid fa-eye-slash" onclick="pass()" style="color: #ffffff;" id="fa-eye-slash"></i>
                </div>
                <button class="btn" type="submit">Register</button>
                <p class="title-3">Already have an account? <a href="/login">Login</a></p>
            </form>
        </div>
    </div>
    <script src="/static/main.js"></script>

</body>

</html>