<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks</title>
    <link rel="stylesheet" href="/static/css/menuitems.css">
</head>

<body>
    {% include "navbar.html" %}
    {% include "cursor.html" %}

    <div class="navbody" id="snacks-bgimg">
        <nav class="navbar-2">
            <div class="nav-left">
                <span>Snacks</span>
            </div>
            <div class="nav-center">
                <a href="#">Cottage cheese fry</a>
                <a href="#">Reuben</a>
                <a href="#">Crossiant</a>
                <a href="#">Veg Burger</a>
            </div>
            <div class="nav-right">
                <a href="/">Home</a>
            </div>
        </nav>
    </div>

    <div class="container-all">
        <div class="card-container">
            <article id="cake" class="card-article">
                <img src="/static/imgs/cottage cheese fry.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Cottage cheese fry</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/reuben2.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Reuben</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/crossiants.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Crossiant</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/veg burger.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Veg Burger</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>

        </div>
    </div>


        </div>
    </div>
    {% include "footer.html" %}

</body>

</html>