<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks</title>
    <link rel="stylesheet" href="/static/css/menuitems.css">
</head>

<body>
    {% include "navbar.html" %}
    {% include "cursor.html" %}

    <div class="navbody" id="snacks-bgimg">
        <nav class="navbar-2">
            <div class="nav-left">
                <span>Snacks</span>
            </div>
            <div class="nav-center">
                <a href="/beverages">Beverages</a>
                <a href="/cakes">Cakes</a>
                <a href="/desserts">Desserts</a>
            </div>
            <div class="nav-right">
                <a href="/">Home</a>
            </div>
        </nav>
    </div>

    <div class="container-all">
        <h2 id="snacks">Snacks</h2>
        <div class="card-container">
            {% for i in snacks %}
            <article class="card-article">
                <img src="/{{i.image}}" alt="" class="card-img">
                <div class="card-data">
                    <span class="card-description">{{i.description}}</span>
                    <h2 class="card-title">{{i.productName}}</h2>
                    <span class="card-description ">₹{{i.price}}</span>
                    <div class="delete-button">
                        <form method="POST" action="/cart/">
                            {% csrf_token %}
                            <input type="hidden" name="cart_id" value="{{ i.id }}">
                            <button class="card-button" type="submit" name="cart">Add to Cart</button>
                        </form> 
                        {% if request.session.user == 'Admin' %}
                        <button class="card-button" onclick="deleteItem('{{ i.id }}', '{{ request.path }}')">
                            Delete this item
                        </button>
                        {% endif %}
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>


    </div>
    </div>
    {% include "footer.html" %}

    <script>
        function deleteItem(id, path) {
            var r = confirm("Are you sure you want to delete this item?");
            if (r == true) {
                window.location.href = "/del?id=" + id + "&path=" + path;
            }
        }
    </script>

</body>

</html>