<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beverages</title>
    <link rel="stylesheet" href="/static/css/beverages.css">
</head>

<body>
    {% include "navbar.html" %}
        <div class="cursor rounded"></div>
        <div class="cursor pointed"></div>
    <div class="container-all">
        <div class="card-container">
            <article class="card-article">
                <img src="/static/imgs/macroons-1.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Macaroons</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/macroons-1.jpg" alt="" class="card-img">
            
                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Macaroons</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article><article class="card-article">
                <img src="/static/imgs/macroons-1.jpg" alt="" class="card-img">
            
                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Macaroons</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article><article class="card-article">
                <img src="/static/imgs/macroons-1.jpg" alt="" class="card-img">
            
                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Macaroons</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article><article class="card-article">
                <img src="/static/imgs/macroons-1.jpg" alt="" class="card-img">
            
                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Macaroons</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article><article class="card-article">
                <img src="/static/imgs/macroons-1.jpg" alt="" class="card-img">
            
                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Macaroons</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>
            <article class="card-article">
                <img src="/static/imgs/macroons-1.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Macaroons</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>

            <article class="card-article">
                <img src="/static/imgs/macroons-1.jpg" alt="" class="card-img">

                <div class="card-data">
                    <span class="card-discription">Made with Something good</span>
                    <h2 class="card-title">Macaroons</h2>
                    <button class="card-button">Add to Cart</button>
                </div>
            </article>

        </div>
    </div>






    <script src="/static/main.js"></script>

    {% include "footer.html" %}
</body>

</html>