<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Munch Mosaic</title>
</head>

<body>
    
    <div class="cursor rounded"></div>
    <div class="cursor pointed"></div>
    <div class="imbanner">
        {% include "navbar.html" %}

        <div class="box">
            <h1>Indulge in a Symphony of Flavors at <br>Munch Mosaic</h1>
            <h3>Welcome to a Culinary Wonderland!</h3>

        </div>
    </div>
    
    <div class="our-story">
        <h1>Our Story</h1>
        <h2>Few words about the Cafe</h2>
        <div class="our-story-wrapper">
            <div class="our-story-img">
                <img src="/static/imgs/logo.png" alt="">
            </div>
            <p>From the first light of dawn to the quiet of twilight, [Cafe Name] is here to accompany you through your
                day. Start
                your
                morning with a freshly brewed cup of our signature coffee, indulge in a leisurely brunch, savor a hearty
                meal, or
                treat
                yourself to a decadent dessert - every moment is an opportunity to savor life's pleasures.</p>
        </div>

    </div>
    <div class="title-review">
        <h2>What said about us</h2>
        <h1>Custumer reviews</h1>
    </div>
    <div class="review-container">
        <div class="review-card">
            <div class="card-front">
                <img src="/static/imgs/logo.png" alt="Person 1">
                <h3>John Doe</h3>
                <p>Exceptional service! The staff was incredibly helpful and knowledgeable. They went above and beyond
                    to meet my needs. I
                    will definitely be returning.</p>
            </div>
            <div class="card-back">
                <p>Rating: 5/5</p>
                <ul class="icons-home">
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                </ul>
                <p>Service: Excellent</p>
            </div>
        </div>

        <div class="review-card">
            <div class="card-front">
                <img src="/static/imgs/logo.png" alt="Person 2">
                <h3>Jane Smith</h3>
                <p>Amazing food and ambiance. Highly recommended!</p>
            </div>
            <div class="card-back">
                <p>Rating: 4/5</p>
                <ul class="icons-home">
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-regular fa-star" style="color: #000000;"></i></li>
                </ul>
                <p>Food: Outstanding</p>
            </div>
        </div>

        <div class="review-card">
            <div class="card-front">
                <img src="/static/imgs/logo.png" alt="Person 3">
                <h3>Mike Johnson</h3>
                <p>Great place for gatherings. Loved it!</p>
            </div>
            <div class="card-back">
                <p>Rating: 4.5/5</p>
                <ul class="icons-home">
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #333;"></i></li>
                    <li><i class="fa-solid fa-star-half-stroke" style="color: #000000;"></i></li>
                </ul>
                <p>Ambiance: Fantastic</p>
            </div>
        </div>
    </div>


    <div class="random">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, eos impedit similique odio
        doloribus ab, enim vel quis commodi fuga repudiandae pariatur, voluptate voluptatum doloremque accusantium
        exercitationem numquam adipisci nostrum!
    </div>

    <div class="body-review">
        <div class="slide-container">
            <div class="card-wrapper">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/static/imgs/logo.png" alt="loading" class="card-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="/static/main.js"></script>
    <!-- <div class="cursor-dot" data-cursor-dot></div>
        <div class="cursor-outline" data-cursor-outline></div> -->

    {% include "footer.html" %}
</body>

</html>