<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Munch Mosaic</title>
</head>

<body>

    <div class="cursor rounded"></div>
    <div class="cursor pointed"></div>
    <div class="imbanner">
        {% include "navbar.html" %}

        <div class="box">
            <h1>Indulge in a Symphony of Flavors at <br>Munch Mosaic</h1>
            <h3>Welcome to a Culinary Wonderland!</h3>

        </div>
    </div>

    <!-- <div class="our-story">
        <h1>Our Story</h1>
        <h2>Few words about the Cafe</h2>
        <div class="our-story-wrapper">
            <div class="our-story-img">
                <img src="/static/imgs/logo.png" alt="">
            </div>
            <p>From the first light of dawn to the quiet of twilight, [Cafe Name] is here to accompany you through your
                day. Start
                your
                morning with a freshly brewed cup of our signature coffee, indulge in a leisurely brunch, savor a hearty
                meal, or
                treat
                yourself to a decadent dessert - every moment is an opportunity to savor life's pleasures.</p>
        </div>

    </div> -->

    <div class="title-review">
        <h2>Our Menu</h2>
        <h1>Our Specialities</h1>
    </div>
    <div class="review-container">
        <div class="review-card">
            <div class="card-front">
                <img src="/static/imgs/menu-2.jpg" alt="Person 1">

            </div>
            <div class="card-back">
                <h4>Rating: 5/5</h4>
                <ul class="icons-home">
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                </ul>
                <h3>Espresso with raspberry</h3>
                <h4>Price : ₹239</h4>
                <p>This espresso is a brewing coffee in which hot water is forced through finely ground coffee beans under high pressure.
                The resulting coffee is characterized by its strong, bold flavor and intense aroma served with the additional taste of
                fine raspberries at our cafe.</p>
            </div>
        </div>

        <div class="review-card">
            <div class="card-front">
                <img src="/static/imgs/menu-3.jpg" alt="Person 2">

            </div>
            <div class="card-back">
                <h4>Rating: 4/5</h4>
                <ul class="icons-home">
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-regular fa-star" style="color: #F1F1F1;"></i></li>
                </ul>
                <h3>Reuben</h3>
                <h4>Price : ₹349</h4>
                <p>This sandwich is a North American grilled sandwich composed of veggies, swiss cheese, and thousand island dressing
                grilled between slices of rye bread.</p>
            </div>
        </div>

        <div class="review-card">
            <div class="card-front">
                <img src="/static/imgs/menu-5.jpg" alt="Person 3">
            </div>
            <div class="card-back">
                <p>Rating: 4.5/5</p>
                <ul class="icons-home">
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-solid fa-star" style="color: #F1F1F1;"></i></li>
                    <li><i class="fa-solid fa-star-half-stroke" style="color: #F1F1F1;"></i></li>
                </ul>
                <h3>Hotcake Truffle</h3>
                <h4>Price : ₹489</h4>
                <p>Hotcakes are Filipino version of pancakes, eaten mostly as a snack rather than during breakfast. They’re thin, spongy,
                produced by pouring batter on a hot griddle or skillet to form round cakes that are cooked quickly at high heat
                filled with chocolate.</p>
            </div>
        </div>
    </div>




    <!-- <div class="body-review">
        <div class="slide-container">
            <div class="card-wrapper">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="/static/imgs/logo.png" alt="loading" class="card-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->




    <script src="/static/main.js"></script>
    <!-- <div class="cursor-dot" data-cursor-dot></div>
        <div class="cursor-outline" data-cursor-outline></div> -->

    {% include "footer.html" %}
</body>

</html>