<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>

<body>

    <div class="navbar">
        <div class="logo">
            
            <img src="static\imgs\final logo.jpg" alt="">
            
        </div>
        <ul class="menu">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/desserts">
                <li>Desserts</li>
            </a>
            <a href="/snacks">
                <li>Snacks</li>
            </a>

            <a href="/beverages">
                <li>Beverages</li>
            </a>
            <a href="/meals">
                <li>Cakes</li>
            </a>
            <a href="/cart">
                <li>Your Cart</li>
            </a>
        </ul>
        <button class="login-button">Login</button>
    </div>

</body>

</html>