body {
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1F1B18;
    background-image: url("/static/imgs/banner6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: garamond;
}

h1 {
    font-size: 2.4em;
    font-weight: bold;
    color: #ff9292;
    margin: 10px;
    text-align: center;
    background: #000;
    
}


.main-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.product-card {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    transition: transform 0.3s;
    margin: 10px 0;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-images {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.product-details {
    display: block;
    margin-top: 10%;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

.product-details p {
    margin: 0;
}

.model-name {
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.price,
.price2 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.addictions span {
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}


.checkout-form input {
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.main-card::-webkit-scrollbar {
    width: 12px;
    /* Set the width of the scrollbar */
}

.main-card::-webkit-scrollbar-thumb {
    background-color: #555;
    /* Set the color of the scrollbar thumb */
    border-radius: 10px;
    /* Round the corners of the thumb */
}

.main-card::-webkit-scrollbar-track {
    background-color: #ff8d8d;
    /* Set the color of the scrollbar track */
}

/* === FORM CSS ===*/

.checkout-form {
    display: flex;
    margin: auto;
    margin-bottom: 50px ;
    height: 70vh;
    width: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(255, 23, 23, 0.3);
    background: #000;
    border-radius: 30px;
}

/* === change color of checkout ==== */

.checkout-form label {
    color: #ff7878;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: pointer;
}

.checkout-form input,
.checkout-form textarea {
    width: 100%;
    height: 20px;
    background: #ffffff;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
}

.checkout-form textarea {
    height: 100px;
}

.checkout-form button {
    width: 100%;
    height: 40px;
    background: #ffffff;
    color: #ff0000;
    justify-content: center;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 10px auto;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.checkout-form button:hover {
    background: #007af3;
    color: #ffffff;
    border: 1px solid #573b8a;
}

.error {
    color: red;
    font-size: 1em;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}


.empty-cart {
    box-shadow: 4px 4px 8px rgba(255, 53, 53, 0.3);
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background: #000;
}

.empty-cart p {
    font-size: 1.5em;
    font-weight: bold;
    color: #fa0303;
    
    
    margin: 10px;
    text-align: center;
}